// 头部
.Header{
  height: 40px;
}
.OrderHeader{
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(90deg,#0af,#0085ff);
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  color: aliceblue;
  button{
    width: 35px;
    text-align: center;
  }
  span{
    font-size: 15px;
    font-weight: 700;
    flex: 1;
    text-align: center;
  }
}

.Ordermains{
  background: #ffffff;
  padding: 18px 10px 0 20px;
  margin-top:10px;
  .MainTop{
    display: flex;
    width: 100%;
    img{
      height: 30px;
      width: auto;
    }
    .maintoptop{
      flex: 1;
      border-bottom: 1px solid #0085ff;
      padding-bottom: 10px;
      .maintoptopome{
        border-bottom:1px solid #333;
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        .orderover{
          line-height: 24px;
          font-size: 12px;
        }
        .qianqiu{
          font-size: 14px;
          line-height: 24px;
          color: #333;
        }
        .thetime{
          color: #999;
          font-size: 12px;
        }

      }
      .maintoptoptwo{
        display: flex;
        justify-content: space-between;
        padding: 10px 0 10px 0 ;
        span{
          font-size: 13px;
          color: #999;
        }
        p{
          color: #333;
          font-weight: 700;
        }
      }
    }
  }
  .Mainbottom{
    text-align: right;
    padding: 10px 0 10px 0;
    button{
      width: 70px;
      height: 30px;
      border: 1px solid #0085ff;
      color: #0085ff;
      font-size: 13px;
    }
  }
}
button{
  border: 1px solid  #2395ff;
  background:white;
}