.zhezhaoceng{
  width: 100%;
  height: 100%;
  background: #7c7979;
  opacity: 0.6;
  position: fixed;
  top: 0;
  z-index: 5;
  display: none;
}
.Foodlist{
  display: none;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background: #ffffff;
}
.foodheader{
  width: 100%;
  height:30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F9F9F9;
  padding: 0 10px 0 10px;
}
.Allfood{
  display: flex;
  background: #ffffff;
  margin-top: 10px;
  height: 300px;
  overflow: hidden;
  ul{
    height: 100%;
    overflow: auto;
  }
  li{
    display: flex;
    justify-content: space-between;
    padding: 10px ;
    height: 40px;
  }
  .AllfoodLeft{
    flex: 1;
    border-right: 1px solid #cccccc;
  }
  .AllfoodRight{
    flex: 1;
  }
}
button{
  border: 0;
  background: none;
}

.flexParent{
  height: 90px;
  .Flex{
    position: fixed;
    top: 0;
  }
}

// 美食主页面
.FoodHeight{
  display: flex;
  height: 50px;
  align-items: center;
  background: #0085ff;
  button{
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #F9F9F9;
  }
  span{
    flex: 1;
    text-align: center;
    color: #F9F9F9;
    font-weight: 700;
  }
}
.foodact{
  background: #0085ff;
  display: flex;
  align-items: center;
  padding: 0 10px;
  button{
    width: 35px;
    height: 40px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    color: #F9F9F9;
  }
  div{
    height: 40px;
    line-height: 40px;
    width: 100%;
    overflow: auto;
    .foodactUl{
      width: 300%;
      li{
        color: rgb(228, 224, 224);
        float: left;
        padding: 0 5px;
        font-size: 12px;
      }
    }
  }
}
.dianjia{
  display: flex;
  border-bottom: 1px solid #0085ff;
  margin-bottom: 5px ;
  padding-top: 5px;
}
.dianjiaLeft{
  width: 50px;
}
.dianjiaRight{
  font-size: 10px;
  color: #7a7474;
  .icon-wujiaoxing{
    color: rgb(221, 221, 72);
  }
  .Rightone{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    h2{
      font-size: 12px;
      color: #000000;
    }
  }
  .Rightwo{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    i{
      font-size: 10px;
    }
    p{
      padding: 1px;
      background: #0085ff;
      color: #F9F9F9;
    }
  }
  .Righthree{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  .Rightfore{
    margin-bottom: 8px;
    button{
      border: 1px solid #cccccc;
      font-size: 8px;
    }
  }
  .Rightfive{
    margin-bottom: 8px;
    .orange{
      background: rgb(223, 148, 121);
      padding: 1px;
      color: #F9F9F9;
    }
  }
}