.zxs{
  background:white;
  height:100%;
  .zxs-img{
    width:137px;
    height:56px;
    margin-top:36px;
    margin-left:112px;
  }
  .zxs-all{
    min-height: 296px;
    .zxs-form{
      margin-top: 16px;
      padding:0 10px;
      .zxs-txt{
        height: 100%;
        padding-left: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        color: #333;
        margin-bottom: 16px;
        height: 48px;
        font-size: 14px;
        background: #fff;
        width:100%;
      }
      /* 用户名验证 */
      span.info_user,span.error_user,span.succ_user{
        display: block;
        font-size: 14px;
        color: #2395ff;
        width: 100%;
        height: 26px;
        line-height: 26px;
        margin-bottom:12px;
        // position: absolute;
        display: none;
      }
      span.error_user{
        color:red;
      }
      /* 密码验证 */
      span.info_pwd,span.error_pwd,span.succ_pwd{
        display: block;
        font-size: 14px;
        color: #2395ff;
        width: 100%;
        height: 26px;
        line-height: 26px;
        margin-bottom:12px;
        // position: absolute;
        display: none;
      }
      span.error_pwd{
        color:red;
      }
      .zxs-pwd{
        height: 100%;
        padding-left: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        color: #333;
        margin-bottom: 16px;
        height: 48px;
        font-size: 14px;
        background: #fff;
        width:100%;

      }
      .zxs-p{
        font-size:16px;
        text-align:center;
        span{
          color:#2395ff;
        }
      }
      .zxs-btn1{
        display: block;
        width: 100%;
        height: 42px;
        margin-top: 30px;
        border-radius: 4px;
        background: #4cd96f;
        color: #fff;
        cursor: pointer;
        text-align: center;
        font-size: 16px;
        line-height: 42px;
        border:0;
        outline:none;

      }
      .zxs-btn2{
        display: block;
        width: 100%;
        height: 42px;
        margin-top:10px;
        border-radius: 4px;
        background: #4cd96f;
        color: #fff;
        cursor: pointer;
        text-align: center;
        font-size: 16px;
        line-height: 42px;
        border:0;
        outline:none;
        .zxs-a{
          color:white;
        }
      }
    }
  }
}

