#all{
 position: relative;
 .show{
   position: fixed;
   background: white;
   height:100%;
   width: 100%;
   z-index: 3;
   top: 0;
   .ph{
     width: 100%;
   }
   .cainame{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 16px;
    margin-left: 16px;
    p{
      font-size:18px;
      widows: 140px;;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
   }
   .haoname{
    font-size:12px;
    color: #666;
    line-height: 1;
    margin: 10px;
    margin-bottom: 12px;
    span{
      margin-right: 10px;
    }
   }
   .per{
     font-size: 22px;
     color: red;
     margin-left: 10px;
     margin-top: 15px;
   }
   .word{
      margin-top: 20px;
      font-size: 12px;
      margin-left: 10px;
      line-height: 20px;
   }
 }
.cuo{
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 104;
  display: none
}
.showcuo{
  display: block;
}
// 入场
.ho-enter {
  transform: translateY(100%)
 }

 .ho-enter-active {
  transform: translateY(0);
  transition: all 1s;
 }

 .ho-enter-done {
  transform: translateY(0);
 }

 /*
  出场
 */
 .ho-exit {
  transform: translateY(0);
 }

 .ho-exit-active {
  transform: translateY(100%);
  transition: all 1s;
 }

 .ho-exit-done {
  transform: translateY(100%);
 }
}
.app-dps8r{
  position:relative;
  color: #333;
  font-size: 16px;
  background-color: #fff;
  .nav{
    height: 100px;
    background:url('../../images/log.png');
    &::before{
      content:'';
      position: absolute;
      left: 0;
      top: 0;
      height:100px;
      width: 100%;
      background:rgba(0,0,0,.3);
    }
  }
  .index-ccm5A{
    background: #fff;
    position: relative;
    padding-top: 30px;
    text-align: center;
    .ph{
      height: 75px;
      width: 75px;
      position: absolute;
      left: 50%;
      margin-left: -37.5px;
      top: -60px;
      bottom: 0px;
      img{
        height: 100%;
      }
    }
    span{
      margin-right:10px;
    }
    .tith{
      font-size: 20px;
      margin-bottom: 6px;
    }
    .titb{
      font-size: 12px;
      color: #333;
    }
    .you{
      display: flex;
      margin: 12px auto 0;
      align-items: center;
      width: 100%;
      text-align: center;
      .smil{
        display: block;
        width: 30px;
        height: 18px;
        font-size: 12px;
        text-align: center;
        line-height:18px;
        color: #fff;
        margin-left: 14px;
      }
      .jian{
        font-size: 12px;
        display: block;
        width: 193px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .hui{
        font-size: 12px;
        color: #999999;
        margin-left: 10px;
      }
    }
    .notice{
      margin: 8px 0 0;
      text-align: center;
      color:#999999;
      font-size: 12px;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 10px;
      padding-bottom:5px;
    }
  }
}
.heade{
  position: sticky;
  top: 0;
  z-index: 2;
  .navil{
    display: flex;
    background: #fff;
    li{
      flex: 1;
      height: 40px;
      line-height: 40px;
      text-align: center;
      p{
        box-sizing: border-box;
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        color: #999999;
      }
      .liact{
        border-bottom: 2px solid blue;
        color: #333;
      }
    }
  }
}
.zact{
  display:block;
}
.hid{
  display: none;
}
